/* CSS Document */

#body4{
	margin-bottom:20px;
	margin-left: 5px;
}

#BrandTag{
	margin-left: 460px;
	padding-top: 0px;
}

#topbrandswrapper{
	width: 800px;
	height: 440px;
	/*border: 1px solid #FFF;*/
	margin-left: 250px;
	margin-bottom: 25px;
	padding-top: 50px;
	padding-left:20px;
}

.brand1{
	width: 162px;
	height: 117px;
	/*border: 5px solid #03F;*/
	diplay:block;
	position: relative;
	float:left;
	margin-left: 20px;
}

.brand2{
	width: 162px;
	height: 117px;
	/*border: 5px solid #03F;*/
	diplay:block;
	position: relative;
	float:left;
	margin-left: 30px;
}

.brand3{
	width: 162px;
	height: 117px;
	/*border: 5px solid #03F;*/
	diplay:block;
	position: relative;
	float:left;
	margin-left: 30px;
}

.brand4{
	width: 162px;
	height: 117px;
	/*border: 5px solid #03F;*/
	diplay:block;
	position: relative;
	float:left;
	margin-left: 30px;
}

.brand5{
	width: 162px;
	height: 117px;
	/*border: 5px solid #03F;*/
	diplay:block;
	position: relative;
	float:left;
	margin-left: 20px;
	margin-top: 30px;
}

.brand6{
	width: 162px;
	height: 117px;
	/*border: 5px solid #03F;*/
	diplay:block;
	position: relative;
	float:left;
	margin-left: 30px;
	margin-top:30px;
}

.brand7{
	width: 162px;
	height: 117px;
	/*border: 5px solid #03F;*/
	diplay:block;
	position: relative;
	float:left;
	margin-left: 30px;
	margin-top:30px;
}

.brand8{
	width: 162px;
	height: 117px;
	/*border: 5px solid #03F;*/
	diplay:block;
	position: relative;
	float:left;
	margin-left: 30px;
	margin-top:30px;
}

.brand9{
	width: 162px;
	height: 117px;
	/*border: 5px solid #03F;*/
	diplay:block;
	position: relative;
	float:left;
	margin-left: 20px;
	margin-top: 30px;
}

.brand10{
	width: 162px;
	height: 117px;
	/*border: 5px solid #03F;*/
	diplay:block;
	position: relative;
	float:left;
	margin-left: 30px;
	margin-top:30px;
}

.brand11{
	width: 162px;
	height: 117px;
	/*border: 5px solid #03F;*/
	diplay:block;
	position: relative;
	float:left;
	margin-left: 30px;
	margin-top:30px;
}

.brand12{
	width: 162px;
	height: 117px;
	/*border: 5px solid #03F;*/
	diplay:block;
	position: relative;
	float:left;
	margin-left: 30px;
	margin-top:30px;
}