#dashNav {
	width: 21%;
	position: fixed;
	border: 1px solid white;
	border-radius: 10px;
	margin-left: 3%;
	padding: 2%;
}

/* Left Side Menu */
@import
	url(http://fonts.googleapis.com/css?family=Ubuntu:300,400,500,700);

@import
	url(http://fonts.googleapis.com/css?family=Open+Sans:400,600,300);

@charset "UTF-8";

/* Base Styles */
#leftMenu, #leftMenu ul, #leftMenu li, #leftMenu a {
	margin: 0px;
	padding: 10px;
	border: 0;
	list-style: none;
	font-weight: normal;
	text-decoration: none;
	line-height: 1;
	font-family: 'Open Sans', sans-serif;
	font-size: 14px;
	position: relative;
	display: block;
}

#leftMenu {
	margin-top: 0px;
	width: 280px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	margin-left: -8px;
}

#leftMenu a {
	line-height: 1;
}

#leftMenu>ul>li:first-child {
	background: #66665e;
	background: -moz-linear-gradient(#66665e 0%, #45463d 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #66665e),
		color-stop(100%, #45463d));
	background: -webkit-linear-gradient(#66665e 0%, #45463d 100%);
	background: linear-gradient(#66665e 0%, #45463d 100%);
	border: 1px solid #45463d;
	-webkit-border-radius: 3px 3px 0 0;
	-moz-border-radius: 3px 3px 0 0;
	border-radius: 3px 3px 0 0;
}

#leftMenu>ul>li:first-child>a {
	padding: 10px 5px;
	/* background: url(../images/6aLeftMenu/pattern.png) top left repeat; */
	border: none;
	/* border-top: 1px solid #818176; */
	-webkit-border-radius: 3px 3px 0 0;
	-moz-border-radius: 3px 3px 0 0;
	border-radius: 3px 3px 0 0;
	font-family: 'Ubuntu', sans-serif;
	text-align: center;
	font-size: 18px;
	font-weight: 500;
	text-shadow: 0 -1px 1px #000000;
}

#leftMenu>ul>li:first-child>a>span {
	padding-top: 2px;
	margin-top: -10px;
	margin-bottom: 2px;
	margin-left: -10px;
}

#leftMenu>ul>li:first-child:hover {
	background: #66665e;
	background: -moz-linear-gradient(#66665e 0%, #45463d 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #66665e),
		color-stop(100%, #45463d));
	background: -webkit-linear-gradient(#66665e 0%, #45463d 100%);
	background: linear-gradient(#66665e 0%, #45463d 100%);
}

#leftMenu>ul>li {
	background: #e94f31;
	background: -moz-linear-gradient(#e94f31 0%, #d13516 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #e94f31),
		color-stop(100%, #d13516));
	background: -webkit-linear-gradient(#e94f31 0%, #d13516 100%);
	background: linear-gradient(#e94f31 0%, #d13516 100%);
}

#leftMenu>ul>li:hover {
	background: #e84323;
	background: -moz-linear-gradient(#e84323 0%, #c33115 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #e84323),
		color-stop(100%, #c33115));
	background: -webkit-linear-gradient(#e84323 0%, #c33115 100%);
	background: linear-gradient(#e84323 0%, #c33115 100%);
}

#leftMenu>ul>li>a {
	font-size: 14px;
	/* background: url(../images/6aLeftMenu/pattern.png) top left repeat; */
	color: #ffffff;
	text-shadow: 0 -1px 1px #751d0c;
}

#leftMenu>ul>li>a>span {
	width: 240px;
	height: 10px;
	padding-top: 1px;
	padding-bottom: 10px;
	margin-top: -10px;
	margin-bottom: 2px;
	margin-left: -10px;
	/*-webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;*/
	/*border: 1px solid #FFF;*/
}

#leftMenu>ul>li>a:hover {
	text-decoration: none;
}

#leftMenu>ul>li.active {
	border-bottom: none;
}

#leftMenu>ul>li.has-sub>a span {
	background: url(../images1/6aLeftMenu/icon_plus.png) 98% center
		no-repeat;
}

#leftMenu>ul>li.has-sub.active>a span {
	background: url(../images1/6aLeftMenu/icon_minus.png) 98% center
		no-repeat;
}
/* Sub menu */
#leftMenu ul ul {
	display: none;
	/* background: #fff;
  border-right: 1px solid #a2a194;
  border-left: 1px solid #a2a194; */
}

#leftMenu ul ul li {
	padding: 0;
	border-bottom: 1px solid #d4d4d4;
	border-top: none;
	/*background: #f7f7f7;
  background: -moz-linear-gradient(#f7f7f7 0%, #ececec 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f7f7f7), color-stop(100%, #ececec));
  background: -webkit-linear-gradient(#f7f7f7 0%, #ececec 100%);
  background: linear-gradient(#f7f7f7 0%, #ececec 100%); */
}

#leftMenu ul ul li:last-child {
	border-bottom: none;
}

#leftMenu ul ul a {
	padding: 10px 10px 10px 25px;
	display: inline-block;
	color: #e0e0e0;
	font-size: 14px;
	font-weight: normal;
	text-decoration: none;
}

#leftMenu ul ul a:before {
	content: "»";
	position: absolute;
	left: 10px;
	color: #e0e0e0;
}

#leftMenu ul ul a:hover, #leftMenu ul ul a:focus {
	color: #FFF;
}

/* Left Menu Ends */

#dashMain {
	width: 67.4%;
	/* border: 1px solid white; */
	/* margin-left: 30%; */
	border-radius: 10px;
	min-height: 100px;
}